In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.feature_selection import RFE

In [2]:
df = pd.read_excel("../mtcars.xlsx", sheet_name="mtcars.csv")
df.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [3]:
X = df.drop(["mpg","model"] , axis=1)

In [4]:
y = df[["mpg"]]

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.1,random_state=1)

In [6]:
X_train

    cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
23    8  350.0  245  3.73  3.840  15.41   0   0     3     4
17    4   78.7   66  4.08  2.200  19.47   1   1     4     1
21    8  318.0  150  2.76  3.520  16.87   0   0     3     2
28    8  351.0  264  4.22  3.170  14.50   0   1     5     4
19    4   71.1   65  4.22  1.835  19.90   1   1     4     1
14    8  472.0  205  2.93  5.250  17.98   0   0     3     4
24    8  400.0  175  3.08  3.845  17.05   0   0     3     2
10    6  167.6  123  3.92  3.440  18.90   1   0     4     4
20    4  120.1   97  3.70  2.465  20.01   1   0     3     1
26    4  120.3   91  4.43  2.140  16.70   0   1     5     2
4     8  360.0  175  3.15  3.440  17.02   0   0     3     2
2     4  108.0   93  3.85  2.320  18.61   1   1     4     1
25    4   79.0   66  4.08  1.935  18.90   1   1     4     1
6     8  360.0  245  3.21  3.570  15.84   0   0     3     4
13    8  275.8  180  3.07  3.780  18.00   0   0     3     3
7     4  146.7   62  3.69  3.190  20.00   1   0     4     2
29    6  145.0  175  3.62  2.770  15.50   0   1     5     6
1     6  160.0  110  3.90  2.875  17.02   0   1     4     4
16    8  440.0  230  3.23  5.345  17.42   0   0     3     4
0     6  160.0  110  3.90  2.620  16.46   0   1     4     4
15    8  460.0  215  3.00  5.424  17.82   0   0     3     4
31    4  121.0  109  4.11  2.780  18.60   1   1     4     2
30    8  301.0  335  3.54  3.570  14.60   0   1     5     8
9     6  167.6  123  3.92  3.440  18.30   1   0     4     4
8     4  140.8   95  3.92  3.150  22.90   1   0     4     2
12    8  275.8  180  3.07  3.730  17.60   0   0     3     3
11    8  275.8  180  3.07  4.070  17.40   0   0     3     3
5     6  225.0  105  2.76  3.460  20.22   1   0     3     1

In [7]:
X_test

    cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
27    4   95.1  113  3.77  1.513  16.90   1   1     5     2
3     6  258.0  110  3.08  3.215  19.44   1   0     3     1
22    8  304.0  150  3.15  3.435  17.30   0   0     3     2
18    4   75.7   52  4.93  1.615  18.52   1   1     4     2

In [8]:
y_train

     mpg
23  13.3
17  32.4
21  15.5
28  15.8
19  33.9
14  10.4
24  19.2
10  17.8
20  21.5
26  26.0
4   18.7
2   22.8
25  27.3
6   14.3
13  15.2
7   24.4
29  19.7
1   21.0
16  14.7
0   21.0
15  10.4
31  21.4
30  15.0
9   19.2
8   22.8
12  17.3
11  16.4
5   18.1

In [9]:
y_test

     mpg
27  30.4
3   21.4
22  15.2
18  30.4

In [10]:
model = LinearRegression()

In [11]:
model.fit(X_train,y_train)

LinearRegression()

In [12]:
y_pred = model.predict(X_test)

In [13]:
r2_score(y_test,y_pred)

0.7744886822616011

# RFE

In [14]:
rfe = RFE(estimator=LinearRegression())

In [15]:
rfe.fit(X,y)

RFE(estimator=LinearRegression())

In [16]:
rfe.support_

array([False, False, False,  True,  True,  True, False,  True, False,
        True])

In [17]:
X.columns

Index(['cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear', 'carb'], dtype='object')

In [18]:
X1 = X[["drat","wt","qsec","am","carb"]]

In [19]:
X1

    drat     wt   qsec  am  carb
0   3.90  2.620  16.46   1     4
1   3.90  2.875  17.02   1     4
2   3.85  2.320  18.61   1     1
3   3.08  3.215  19.44   0     1
4   3.15  3.440  17.02   0     2
5   2.76  3.460  20.22   0     1
6   3.21  3.570  15.84   0     4
7   3.69  3.190  20.00   0     2
8   3.92  3.150  22.90   0     2
9   3.92  3.440  18.30   0     4
10  3.92  3.440  18.90   0     4
11  3.07  4.070  17.40   0     3
12  3.07  3.730  17.60   0     3
13  3.07  3.780  18.00   0     3
14  2.93  5.250  17.98   0     4
15  3.00  5.424  17.82   0     4
16  3.23  5.345  17.42   0     4
17  4.08  2.200  19.47   1     1
18  4.93  1.615  18.52   1     2
19  4.22  1.835  19.90   1     1
20  3.70  2.465  20.01   0     1
21  2.76  3.520  16.87   0     2
22  3.15  3.435  17.30   0     2
23  3.73  3.840  15.41   0     4
24  3.08  3.845  17.05   0     2
25  4.08  1.935  18.90   1     1
26  4.43  2.140  16.70   1     2
27  3.77  1.513  16.90   1     2
28  4.22  3.170  14.50   1     4
29  3.62  2.770  15.50   1     6
30  3.54  3.570  14.60   1     8
31  4.11  2.780  18.60   1     2

In [20]:
X1_train, X1_test, y_train, y_test = train_test_split(X1,y,test_size=0.1,random_state=1)

In [21]:
model.fit(X1_train,y_train)

LinearRegression()

In [22]:
model.score(X1_test,y_test)

0.8416768844417066